<!DOCTYPE html>
<html>
    <head>
        <link href='./public/stylesheets/app.css' rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="header-block">

            </div>
            <div class="header-block">
                <div class="header-menu">
                    <a href="#">
                        HOME
                    </a>
                    <span class="divider">|</span>
                    <a href="#">
                        TIMELINE
                    </a>
                    <span class="divider">|</span>
                    <a href="#">
                        CLIENT
                    </a>
                </div>

            </div>
        </header>
        <main>
