form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 500px;

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        width: 100%;
        padding: 7px 9px;
        border-radius: 3px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        color: #333;
        font-size: 1em;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 0.9em;
    }

    textarea {
        resize: vertical;
        font-family: Arial !important;
    }

    #costDollars {
        display: inline-block !important;
        width: 80px !important;
    }

    #costCents {
        display: inline-block !important;
        width: 60px !important;
    }

    .float-dot-point {
        font-size: 1.1em;
    }

    button {
        width: 100%;
        padding: 10px;
        background: #007acc;
        color: #b3e0ff;
        border: none;

        &:hover {
            cursor: pointer;
            background: #0099ff;
        }
    }
}
