<%- include ../header.ejs %>
<section>
    <div class="timeline">
        <div id="line"></div>
        <div class="item">
            <div class="date-container">
                <div class="date">
                    <span class="day-month">5 AUG</span>
                    <span class="year">2017</span>
                </div>
            </div>
            <div class="timeline-icon">
                <span class="icon"></span>
            </div>
            <div class="product">
                <h2>Initial Consultation</h2>
            </div>
            <div class="product-cost">
                <span>$127.00</span>
            </div>
        </div>
        <div class="item">
            <div class="date-container">
                <div class="date">
                    <span class="day-month">5 AUG</span>
                    <span class="year">2017</span>
                </div>
            </div>
            <div class="timeline-icon">
                <span class="icon"></span>
            </div>
            <div class="product">
                <h2>Letter of Advice</h2>
                <div class="product-content">
                    <span class="date">10th August 2017</span>
                    <p class="description">
                        Suggested to proceed to with claim mediation.
                    </p>
                    <a href='#'>DOWNLOAD DOCUMENT</a>
                </div>
            </div>
            <div class="product-cost">
                <span>$127.00</span>
            </div>
        </div>
    </div>
</section>
<%- include ../footer.ejs %>
